:root{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    background-color: antiquewhite;

    
}


.container{
    display: grid;
    flex-direction: row;
    
}

header{
    background-color: rgb(216, 96, 96);
    height: 50px;
    width: 530px;
    border-style: solid; 
}

nav{
    background-color: #7ec8f3;
    height: 5s0px;
    width: 530px;
    border-style: solid; 
 
}

div{
    display: flex;
    flex-direction: column;
    
}
aside{
    background-color: rgb(86, 179, 68);
    width: 200px;
    height: 400px;
    margin-right: 25px;
    border-style: solid; 


}

main{
    background-color: rgb(228, 198, 33);
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction:column;
    height: 100%;
    width: 300px;
    border-style: solid; 


    
}

figure{

    background-color: rgb(0, 255, 191);
    width: 100px;
    height: 50px; 
    right: 10px;
    top: 80px;
    border-style: solid; 
    position: relative;
    
}

section{
    background-color: rgb(30, 19, 194);
    top: 10px;
    height: 50px;
    width: 150px;
    border-style: solid; 
    position: relative;

}

footer{
    background-color: rgb(243, 149, 61);
    border-style: solid; 
    height: 50px;
    width: 530px;

}

div.p{
    background-color: rgb(112, 24, 24);
    border-style: solid; 
    position: relative;
    left: 30px;
    top: 100px;
    height: 50px;
    width: 100px;
   
}

article{
    flex-direction: row;  
    justify-content: center;
    align-items: center; 
    
    border-style: solid; 
    background-color: rgb(230, 21, 125);
    width: 150px;
    height: 300px;
    


}
.flex{
        display: flex;
        flex-direction: row;
    }
